:root { 
--gray_51:#fafbff; 
--white_A700_b2:#ffffffb2; 
--blue_A100:#7cb8f7; 
--bluegray_500_19:#707c9719; 
--pink_700_26:#c71c4a26; 
--gray_50:#fdfbfd; 
--blue_500_bf:#298cf2bf; 
--blue_500_26:#298cf226; 
--green_A700:#00c305; 
--pink_A200:#ff3366; 
--gray_500_40:#ababab40; 
--blue_500_1a:#298cf21a; 
--black_900_05:#00000005; 
--blue_500_3f:#2a8bf23f; 
--bluegray_500_7f:#707c977f; 
--bluegray_500_b2:#707c97b2; 
--blue_500:#2a8bf2; 
--gray_900:#0d1c2e; 
--bluegray_500_26:#707d9626; 
--bluegray_500_27:#707c9726; 
--green_A700_3f:#00c3053f; 
--gray_101:#f5f4fb; 
--gray_300:#dadada; 
--gray_100:#f3f3fb; 
--black_900_0d:#0000000d; 
--lime_900_26:#99523026; 
--bluegray_500:#707c97; 
--white_A700_26:#ffffff26; 
--white_A700_bf:#ffffffbf; 
--bluegray_200:#b7bdcb; 
--blue_300:#60a9f6; 
--pink_A200_3f:#ff33663f; 
--white_A700:#ffffff; 
}